<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": {{ page.title | json_encode() | safe }},
    "description": {{ page.description | default(value=config.description) | json_encode() | safe }},
    "url": {{ page.permalink | json_encode() | safe }},
    {% if page.extra.social_image %}
    {% set article_image = get_url(path=page.extra.social_image) %}
    "image": {{ article_image | json_encode() | safe }},
    {% endif %}
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{ page.permalink | json_encode() | safe }}
    },
    "author": {
        "@type": "Person",
        "name": {{ config.extra.author | json_encode() | safe }},
        "url": {{ config.base_url | json_encode() | safe }}
    },
    "publisher": {
        "@type": "Person",
        "name": {{ config.extra.author | json_encode() | safe }},
        "url": {{ config.base_url | json_encode() | safe }}
    }{% if page.date %},
    "datePublished": {{ page.date | json_encode() | safe }}{% endif %}{% if page.updated %},
    "dateModified": {{ page.updated | json_encode() | safe }}{% endif %}
}
</script>
